<% provide(:title, "About") %>

<h4>Food Bank Services</h4>
<p>
<strong>About Us</strong>
<br>
<br>
Food Bank Services provides charitable food bank services to those in need, matching those with more food than they need with those with less
<br>
<br>
<strong>Mission Statement</strong>
<br>
<br>
The purpose of this online food inventory service is to provide food bank services to those in need in the areas of north Dublin city and county streching from from the Liffey to Lusk and from Leixlip to Poolbeg Lighthouse.
<br>
<br>
The Service is voluntary and depends on the generosity, goodwill and cooperation of farmers, hospitality services, food processing plants, food distribution/logistics hubs and food suppliers in the north Dublin region.
<br>
<br>
Donations can be made by registering your donation in our food inventory system via the interactive food item menu. All donated food items so registered will be collected from the registered address premises and become immeadiatley available to those in need online for use in soup kitchens, hostels serving Dublin's homeless community and other related charitable groups providing meals for the vulnerable. 
<br>
<br>
The deprevation, hunger and poverty that led to the Dublin Lockout of 1913-1914 led by James Larkin and James Connelly may have subsided but, a over hundred years later, it  it has not gone away. In the great tradition of the Irish trade union movement Food Bank Services was established near the docklands site of that same event that proved genesis of the the Irish Transport and General Workers Union.  
<br>    
<br>
<strong>Historial Background</strong>
<br>
<br>
In 1951, the National College of Ireland started out as the Catholic Workers College, Dublin in Sandford Lodge, Ranelagh. Founded by Fr. Edward Coyne S.J., others involved in the college in its initial years included Professor Thomas A. Finlay S.J., and Rev. Edmund Kent S.J. among others. Lectures were led by a handful of dedicated Jesuits two nights a week, with 103 registered students in the first year. Within 10 years, student numbers had dramatically increased. Links with trade unions deepened, as did formal collaborations with employer and management groups. 
<br>
<br>
By 1966, nearly 1,300 students from trade union and business management backgrounds were learning together at the re-branded National College of Industrial Relations (NCIR).
</br>
<br>
In 1976 the college achieved recognition by the states National Council for Educational Awards (NCEA), the forerunner of HETAC, for a number of its programmes. The college again re-branded as the National College of Ireland (NCI) in 1998, with an expanded National Campus Network, and an array of outreach programmes across the country. As the College continued to grow, the land and buildings at Sandford Road were transferred by the Jesuits to the NCI Board of Management. At the turn of the century, NCI relocated to a 0.8 hectare site on Mayor Street in the Dublin Docklands. A€25,000,000 fundraising campaign resulted in the development of a modern campus including 53 residential apartments accommodating 286 students and a new Business and Research Building.
</p>
<br>

<br>

<br>

</p>


